
#smallRecipe{
    width: 200px;
    height: 100px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:center;

}
#pic{
    width: 90%;
    height: 60%;
    background-size: cover;
// background-image: url('../../assets/images/icon-rashi.png');

}
div{
    display: inline;
}