<!-- <form (ngSubmit)="save(form)" #form>
    <input type="text" value="{{myRecipe.Name}}" [(ngModel)]="myRecipe.Name" name="name" />
    <input type="url" value="{{myRecipe.Image}}" [(ngModel)]="myRecipe.Image" name="image" />
    <input type="number" value="{{myRecipe.PreparationTimeInMinute}}" [(ngModel)]="myRecipe.PreparationTimeInMinute"
        name="time" />
    <select [(ngModel)]="myRecipe.CategoryId" name="category" [(ngModel)]="myRecipe.CategoryId">
        <option *ngFor="let x of arrCategory">{{x.Name}}</option>
    </select>
    <input type="number" placeholder="דרגת קושי" [(ngModel)]="myRecipe.Level" name="level" max="5" />
    <div>
        <h1>products</h1>
        <div *ngFor="let x of myRecipe.Layers; index as j">
            <div>
                <h2>{{x.Description}}</h2>
                <div *ngFor="let y of x.Components; index as k">
                    <h4>{{y}}</h4>
                    <input type="button" value="-" (click)="removeComponent(j,k)" />
                </div>
                <input type="text" placeholder="הוסף מוצר לשכבה זו" #com />
                <input type="button" value="+" (click)="addComponent(j,com.value)" />
            </div>
        </div>
        <h1>הוראות הכנה</h1>
        <div *ngFor="let y of myRecipe.Preparation; index as i">
            <input type="text" value="{{y}}" #pre (change)="editInstruction(i,pre.value)" />
        </div>
        <input type="text" placeholder="להוספת הוראה" #inst />
        <input type="button" value="+" (click)="addInstruction(inst.value)" />
    </div>
    <input type="submit" value="לשמירת שינויים" />
</form> -->
<form class="example-form"  (ngSubmit)="saveChanges(myForm)" #myForm="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>שם מתכון</mat-label>
      <input matInput value="{{myRecipe.Name}}" [(ngModel)]="myRecipe.Name" name="name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>תמונה</mat-label>
        <input matInput value="{{myRecipe.Image}}"  [(ngModel)]="myRecipe.Image"name="image">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>בחר קטגוריה</mat-label  >
        <mat-select disableRipple [(ngModel)]="myRecipe.CategoryId"name="CategoryId">
          <mat-option value="1">עוגה</mat-option>
          <mat-option value="2">עוגיות</mat-option>
          <mat-option value="3">מאפים</mat-option>
          <mat-option value="5">טארט</mat-option>
          <mat-option value="5">מתוקים</mat-option>
        </mat-select>       
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>דרגת קושי</mat-label>
        <input matInput value="{{myRecipe.Level}}" type="number" [(ngModel)]="myRecipe.Level" name="level">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>זמן הכנה</mat-label>
        <input matInput type="number"value="{{myRecipe.PreparationTimeInMinute}}" [(ngModel)]="myRecipe.PreparationTimeInMinute" name="PreparationTimeInMinute">
      </mat-form-field>
      <div >
      <mat-form-field class="example-full-width">
       
        <mat-label>רכיבים </mat-label>
        <div *ngFor="let y of myRecipe.Layers[0].Components; index as i">
            <input type="text" value="{{y}}" #pre (change)="editComponent(i,pre.value)" />
        </div>      </mat-form-field>
        <mat-form-field class="example-full-width">
       
            <mat-label>הוספת מוצר </mat-label>
            <input matInput placeholder="לדוג' פיצה" #recipeIngrudients  value="{{insVal}}"name="Ingrudient">
          </mat-form-field>
      <button  (click)="addComponent(recipeIngrudients.value)">+1</button>
     
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>הוראות הכנה </mat-label>
        <div *ngFor="let y of myRecipe.Preparation; index as i">
            <input type="text" value="{{y}}" #pre (change)="editInstruction(i,pre.value)" />
        </div>
        <input type="text" placeholder="להוספת הוראה" #inst />
        <input type="button" value="+" (click)="addInstruction(inst.value)" />
      </mat-form-field>
      <!-- <button  (click)="addInstruction(recipeInstructions.value)">+1</button> -->
    </div>
      <button  (click)="saveChanges(myForm)" >הוספה</button>

  </form>
